body{
    margin:0;
    padding:0;
}

.navbar{
    background-color:#1F2937;
    display:flex;
    justify-content: space-between;
    gap:5px;
}

.navbar div{
    background-color:#1F2937;
    padding-top:.01%;
    padding-bottom:.01%;
}

.navbarNameDiv{
    flex: 2 1 0%;
    margin-right:10%;
    margin-left:10%;
    padding-right:5%;
}

.navbarHeadersDiv{
    flex:1;
}

.navbarName{
    margin-left:10%;
    margin-right:10%;
    padding-right:50%;
    font-style: bold;
}

.navbarHeaders{
    margin-right:0;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    /*font-style: normal;*/
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.navbar p{
    font-size:18px;
    color:#F9FAF8;
}

.navbar h1{
    font-size:18px;
    color:#E5E7EB;
}
  
.main-landing{
    background-color:#1F2937;
    margin:0;
    padding:0;
}


.main-landing button{
    background-color: #3882F6;
    border-radius:10px;
    text-justify: auto;
    border-color:#3882F6;
    border-style:solid;
}

.main-landing-button-text{
    color:#F9FAF8;
    font-size:18px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:20px;
    margin-right:20px;
}