body{
    margin:0;
    padding:0;
    
}

.navbar{
    background-color:#1F2937;
    display:flex;
    justify-content: space-between;
    gap:5px;
}

.navbar div{
    background-color:#1F2937;
    padding-top:.01%;
    padding-bottom:.01%;
}

.navbarNameDiv{
    flex: 2 1 0%;
    margin-right:10%;
    margin-left:10%;
    padding-right:5%;
}

.navbarHeadersDiv{
    flex:1;
}

.navbarName{
    margin-left:10%;
    margin-right:10%;
    padding-right:50%;
    font-style: bold;
}

.navbarHeaders{
    margin-right:0;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    /*font-style: normal;*/
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.navbar p{
    font-size:18px;
    color:#F9FAF8;
}

.navbar h1{
    font-size:18px;
    color:#E5E7EB;
}
  
.main-landing{
    background-color:#1F2937;
    margin:0;
    padding:0;
    padding-bottom:100px;
    padding-top:50px;
    display:flex;
    gap:10px;
    justify-content: space-between;
}

.main-landing-headerdiv{
    margin-left:10%;
}

.main-landing h1{
    color:#F9FAF8;
    font-size:48px;
    font-weight: 900;
}

.main-landing h2{
    color:#E5E7EB;
    font-size:18px;
}

.main-landing button{
    background-color: #3882F6;
    border-radius:10px;
    text-justify: auto;
    border-color:#3882F6;
    border-style:solid;
}

.main-landing-button-text{
    color:#F9FAF8;
    font-size:18px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:20px;
    margin-right:20px;
}

.main-landing-imgdiv{
    margin-right:auto;
    margin-left:auto;
}

.projects{
    background-color: white;
}

.projects h1{
    color:#1F2937;
    font-size:40px;
    font-weight: 700;
}

.projects-header{
    margin-left:auto;
    margin-right:auto;
    max-width: fit-content;
}

.projects-content{
    display:flex;
}

.projects-individual{
    max-width: fit-content;
    margin-left:auto;
    margin-right:auto;
    flex:1;
}

.projects-individual div{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.projects-individual p{
    font-size:15px;
    font-style:italic;
    color:#1F2937;
}

.projects-individual img{
    border-radius:10px;
    border-color:#3882F6;
}

.quote{
    padding-top:5px;
    padding-bottom:5px;
    background-color:#E5E7EB;
}

.quote div{
    margin-right:auto;
    margin-left:auto;
    max-width:fit-content;
    margin-top:0;
    margin-bottom:0;
    max-height: min-content;
}

.quote-content{
    font-size: 36px;
    color:#1F2937;
    font-style:italic;
    max-width:500px;
}

.quote-subtext{
    padding-left:250px;
    max-width:max-content;
    font-weight:900;
}

.contact-me{
    background-color:white;
}

.contact-me-div{
    margin-right: auto;
    margin-left:auto;
    max-width: fit-content;
    display:flex;
    background-color: #3882F6;
    border-radius: 5px;
}

.contact-me-div div{
    flex: 1;
    margin-top:auto;
    margin-bottom:auto;
}

.contact-me-h1{
    color:white;
    font-size: 25px;
}

.contact-me-h2{
    color:white;
    font-size:20px;
}

.contact-me-button{
    background-color:#3882F6;
    border-color:white;
    border-style:solid;
    border-radius:5px;
}

.contact-me-button p{
    color:white;
    font-weight: 900;
}